<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                ">

    <!--组件扫描-->
    <context:component-scan base-package="cn.leap">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--======================配置数据源：C3P0  begin==========================-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--======================配置数据源：C3P0  end==========================-->


    <!--======================Spring集成MyBatis  begin=========================
        Spring容器接管SqlSession对象的创建权
    -->
    <!--配置sqlSession工厂
        需要两个属性：
            1）数据源   				SqlSession对象，数据源属性是必须的。没有会报错。
            		BeanCreationException: Error creating bean with name 'sqlSessionFactory' defined in class
            		path resource [applicationContext.xml]: Invocation of init method failed; nested exception
            		is java.lang.IllegalArgumentException: Property 'dataSource' is required
            	因此，还需要将数据源的配置，从MyBatis核心配置文件中，移到Spring核心配置文件中来。
            2）MyBatis核心配置文件
    -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--配置数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--加载MyBatis核心配置文件-->
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
    </bean>
    <!--扫描mapper包，为Mapper接口创建代理实现类对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定包-->
        <property name="basePackage" value="cn.leap.mapper"/>
    </bean>
    <!--======================Spring集成MyBatis  end=========================-->


</beans>